@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#root {
  height: 100%;
  width: 100%;
  position: relative;
}

@keyframes go-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100dvw);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}