/* Reduce row height & soften grid */
.fc-timegrid-slot.fc-timegrid-slot-lane {
  height: 20px !important;
}

/* Event card (orange blocks) */
.fc-event {
  background-color: #f28c28;
  border: none;
  padding: 10px;
  text-align: center;
  width: calc(100% + 0.05rem);
}

.fc-scrollgrid-sync-inner {
  border: none;
  box-shadow: none;
  background-color: #97502d;
}

.fc-timegrid-axis {
  background-color: #97502d;
}

.fc {
  --fc-border-color: var(--mui-palette-text-light2);
}