@media print {
  @page {
    margin: 0;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  #main-box {
    justify-content: flex-start !important;
    margin-top: 2rem !important;
  }

  #background-box {
    display: none !important;
  }

  #header-paper,
  #normal-chip,
  .MuiTableCell-root,
  #row-cell {
    color: black !important;

  }

  #row-cell {
    color: white !important;
  }

  #stamp-chip {
    display: flex !important;

    * {
      color: black !important;
    }
  }

  .MuiPaper-root {
    background-color: transparent !important;
  }

  .MuiAppBar-root {
    display: none !important;
  }

  #print-chip {
    display: none !important;
  }

  #brand-logo {
    display: block !important;
  }
}