@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  * {
    color: black !important;
    text-shadow: none !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .MuiPaper-root {
    background-color: transparent !important;
  }

  .MuiAppBar-root {
    display: none !important;
  }

  #print-chip {
    display: none !important;
  }

  #brand-logo {
    display: block !important;
  }
}