#visual {
  overflow: hidden;
}

#visual-contact {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
}

.wave {
  transform-box: fill-box;
  transform-origin: center;
  animation:
    drift 18s ease-in-out infinite,
    bob 6s ease-in-out infinite;
}

.wave1 {
  animation-duration: 14s, 6s;
}

.wave2 {
  animation-duration: 18s, 7s;
  animation-delay: -3s;
}

.wave3 {
  animation-duration: 22s, 8s;
  animation-delay: -6s;
}

.wave4 {
  animation-duration: 26s, 10s;
  animation-delay: -9s;
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes drift {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(0);
  }
}