@font-face {
  font-family: 'Trebuchet';
  src: url('../fonts/trebuc.woff') format('woff');
}

@font-face {
  font-family: 'San Francisco';
  src: local('San Francisco Light'), url('../fonts/SF-Pro-Display-Light.otf') format('opentype');
}

@font-face {
  font-family: 'San Francisco Bold';
  src: local('San Francisco Bold'), url('../fonts/SF-Pro-Display-Bold.otf') format('opentype');
}

:root {
  font-family: 'Trebuchet';
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}