@font-face {
  font-family: 'Trebuchet';
  src: url('../fonts/trebuc.woff') format('woff');
}

@font-face {
  font-family: 'San Francisco';
  src: local('San Francisco Light'), url('../fonts/SF-Pro-Display-Light.otf') format('opentype');
}

@font-face {
  font-family: 'San Francisco Bold';
  src: local('San Francisco Bold'), url('../fonts/SF-Pro-Display-Bold.otf') format('opentype');
}

:root {
  font-family: 'Trebuchet';
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222222;
}

body {
  margin: 0;
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}